@if (creds !== null) {
<div class="flex justify-between w-full gap-5 p-5 mx-auto text-xl font-medium text-light-apricot-100">
    <div><a routerLink="/" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Home</a></div>
    <div class="flex items-center gap-3">
        <a routerLink="addCard" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Add a Card</a>
        <a routerLink="manageCards" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Manage your
            Cards</a>
        <a routerLink="reviewCards" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Review your
            Cards</a>
    </div>
    <div>
        <p class="p-2 border-b-2 border-solid cursor-pointer rounded-xl border-light-apricot-100" (click)="logout()">Logout</p>
    </div>
</div>
} @else {
<div class="flex justify-between w-full gap-5 p-5 mx-auto text-xl font-medium text-light-apricot-100 bg-purple-heart-950">
    <div>
        <a routerLink="/" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Home</a>
    </div>
    <div>
        <a routerLink="login" class="p-2 border-b-2 border-solid rounded-xl border-light-apricot-100">Register/Login</a>
    </div>

</div>
}