<!DOCTYPE html>
@if (creds !== null) {
  <div class="flex flex-row self-center justify-between w-10/12 h-full p-12 m-[8rem_auto]">
    <div
      class="flex flex-col w-1/3 pr-4 border-r-2 border-solid search border-purple-heart-200 text-end"
    >
      <form
        class="flex flex-col text-start"
        [formGroup]="formNewUser"
        (submit)="onSubmit(formNewUser.controls.searchbar.value, $event)"
        
      >
        <label
          for="searchbar"
          class="my-6 font-semibold bg-transparent text-purple-heart-50"
          >Need some help? Search for a word and get a few suggestions:</label
        >
        <input
          type="text"
          name="searchbar"
          id="searchbar"
          class="font-medium transition bg-transparent border-none rounded-lg outline outline-2 outline-purple-heart-600 focus:outline focus:outline-2 focus:outline-purple-heart-400 hover:outline hover:outline-2 hover:outline-purple-heart-400 text-purple-heart-100"
          formControlName="searchbar"
        />
      </form>
      @if (resSearch !== null) {
          <div class="pr-3 mt-6 overflow-auto max-h-96 scroll-m-9 text-start">
              @for (res of resSearch.data; track $index) {
                  <div
                    class="grid grid-cols-2 p-3 my-4 font-semibold bg-light-apricot-300 text-purple-heart-900 rounded-2xl "
                  >
                    <p>
                      Reading: {{ res.japanese[0].reading }}
                    </p>
                    @if (!res.japanese[0].word) {
                      <p >Word: Same as reading</p>
                    } @else {
                      <p >Word: {{ res.japanese[0].word }}</p>
                    }
                    <p class="my-1 mb-4 col-span-full">
                      Definition: @for (def of res.senses[0].english_definitions; track $index) {
                          @if ($index === res.senses[0].english_definitions.length-1) {
                              {{def}}
                          } @else {
                              {{def}},
                          }
                      }
                    </p>
                    <span class="flex flex-row items-center col-span-full">JLPT Level:
                      @if (res.jlpt.length !== 0) {
                          @for (jlpt of res.jlpt; track $index) {
                              <div class="p-2 ml-2 rounded-xl bg-purple-heart-200 text-light-apricot-950">{{jlpt}}</div>
                          }
                      } @else {
                          <div class="p-2 m-2 rounded-xl bg-light-apricot-800 text-purple-heart-50">No level associated </div>
                      } 
                      
                    </span>
                  </div>
              
                  }
          </div>
      }
    </div>
    <div>
      
    </div>
  </div>
}

<!-- 
    attribution: Object { jmdict: bool, jmnedict: bool, dbpedia: bool?} //prob not needed
    is_common: bool
    japanese: Array [ Object: { word: string, reading: string } ]
    jlpt: Array [ string (more than one string?) ]
    senses: Array [ Object: ]
            Object: 
                antonyms: Array [ strings ig ]
                english_definitions: Array [ string1, string2, ... ]
                info: Array [ strings ig ]
                links: Array [ strings ig ]
                parts_of_speech: Array [ string(s?) ]
                restrictions: Array [ strings ig ]
                see_also: Array [ strings ig ]
                source: Array [ strings ig ]
                tags: Array [ strings ig ]
    slug: string
    tags: Array [ strings ig ]

    meta: Object { status: 200 }
 -->
