@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radioButton {
    @apply outline-none bg-bright-turquoise-50 transition-all checked:bg-lavender-rose-700 checked:border-none focus:outline-none focus:ring-0 focus:ring-transparent focus:ring-offset-0 focus:shadow-none focus:border-none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-family: "Quicksand";
}

[type="text"]:focus, [type="email"]:focus, [type="url"]:focus, [type="password"]:focus, [type="number"]:focus, [type="date"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="week"]:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 0;
  outline-offset: 0;
  border-color: transparent;
  box-shadow: none;
}