<div class="p-16 text-light-apricot-300">
    <p class="my-20 text-center text-[144px]">{{cardsToReview[0].toLearn}}</p>
    <div class="relative flex justify-center px-3 my-4 text-2xl font-semibold rounded-2xl">
        <label for="showExample" class="absolute inset-0 cursor-pointer"></label>
        <input type="checkbox" name="showExample" #showExample id="showExample"
            class="absolute inset-0 w-full h-full transition opacity-0 cursor-pointer rounded-xl checked:ring-0 checked:ring-offset-0 checked:ring-transparent focus:ring-0 focus:ring-offset-0 focus:ring-transparent" (click)="test(showExample)">
            @if (showExample.checked) {
                @if (cardsToReview[0].example !== '') {
                    <p class="w-1/2 px-4 py-2 mx-auto text-center bg-lavender-rose-900">{{cardsToReview[0].example}}</p>
                } @else {
                    <p class="w-1/2 px-4 py-2 mx-auto text-center bg-lavender-rose-900">There's no helping you with this one, bud.</p>
                }
            } @else {
                <p class="w-1/2 px-4 py-2 mx-auto text-center bg-lavender-rose-900">Need a Hand?</p>
            }
    </div>
</div>