<div class="flex justify-center w-full gap-5 p-5 mx-auto text-lg font-medium text-lavender-rose-100">
    <a routerLink="addCard" class="p-4 border-2 border-solid border-lavender-rose-100 rounded-3xl">This is a link to add a card.</a>
    <a routerLink="manageCards" class="p-4 border-2 border-solid border-lavender-rose-100 rounded-3xl">This is a link to manage your cards.</a>
    <a routerLink="reviewCards" class="p-4 border-2 border-solid border-lavender-rose-100 rounded-3xl">This is a link to start a review of your cards.</a>
</div>