<div class="flex justify-between w-[90%] h-full mx-auto mt-16">
  <div class="w-1/2 text-left regOrLoginForm">
    <form
      class="flex justify-between w-3/4 px-16 py-32 border-b-2 border-l-2 border-solid border-purple-heart-100"
      [formGroup]="formNewUser"
    >
      <div class="w-full">
        <div class="flex flex-col mb-4">
          <label
            for="regEmail"
            class="my-4 font-semibold text-slate-50 text-opacity-90"
            >Email address</label
          >
          <input
            type="email"
            class="p-2 duration-200 bg-transparent rounded-sm text-white/90 outline-2 outline focus:ring-transparent focus:ring-0 focus:outline-purple-heart-100 focus:outline focus:outline-2 outline-light-apricot-400 hover:bg-slate-50/20 hover:outline-light-apricot-600 placeholder:text-white/60"
            id="regEmail"
            aria-describedby="registrationEmailField"
            placeholder="Enter your email"
            formControlName="emailField"
          />
          @if (!emailField?.valid && emailField?.dirty && emailField?.value !== '') {
            <p class="mt-2 transition text-white/50">Email not valid</p>
          }
        </div>

        <div class="flex flex-col mb-4">
          <label
            for="regUsername"
            class="my-4 font-semibold text-slate-50 text-opacity-90"
            >Username</label
          >
          <input
            type="text"
            class="p-2 duration-200 bg-transparent rounded-sm text-white/90 outline-2 outline focus:ring-transparent focus:ring-0 focus:outline-purple-heart-100 focus:outline focus:outline-2 outline-light-apricot-400 hover:bg-slate-50/20 hover:outline-light-apricot-600 placeholder:text-white/60"
            id="regUsername"
            placeholder="Enter your username"
            formControlName="usernameField"
          />
        </div>
        <div class="flex flex-col mb-12">
          <label
            for="regPassword"
            class="my-4 font-semibold text-slate-50 text-opacity-90"
            >Password</label
          >
          <input
            type="password"
            class="p-2 duration-200 bg-transparent rounded-sm text-white/90 outline-2 outline focus:ring-transparent focus:ring-0 focus:outline-purple-heart-100 focus:outline focus:outline-2 outline-light-apricot-400 hover:bg-slate-50/20 hover:outline-light-apricot-600 placeholder:text-white/60"
            id="regPassword"
            placeholder="Enter your password"
            formControlName="passwordField"
          />
        </div>
        <div class="flex flex-row-reverse justify-between align-middle h-max">
          <div
            class="flex flex-col items-end text-xl text-purple-heart-100"
          >
            <div class="mb-1">
              <input
                type="radio"
                id="registerRadio"
                name="radioBtnHomeForm"
                class="radioButton"
              />
              <label for="registerRadio" class="ml-3">Register</label>
            </div>
            <div class="mt-1">
              <input
                type="radio"
                id="loginRadio"
                name="radioBtnHomeForm"
                class="radioButton" checked
              />
              <label for="loginRadio" class="ml-3">Login</label>
            </div>
          </div>
          <button
            type="submit"
            class="rounded bg-purple-heart-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase h-fit self-center leading-normal text-slate-800 shadow-primary-3 transition duration-300 ease-in-out hover:bg-purple-heart-600 hover:shadow-primary-2 focus:bg-purple-heart-600 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-purple-heart-600 active:shadow-primary-2
            disabled:bg-transparent disabled:text-purple-heart-100 disabled:border-solid disabled:border-2 disabled:border-red-600"
            (click)="
              onSubmit(
                emailField?.value,
                usernameField?.value,
                passwordField?.value,
                $event
              )
            "
          [disabled]="!formNewUser.valid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
  <div
    class="w-1/2 px-8 border-l-2 border-solid about border-light-apricot-400"
  >
    <p
      class="text-8xl text-right text-purple-heart-300 font-[Quicksand] mb-20"
    >
      About Joshu:
    </p>
    <p
      class="text-xl font-medium leading-9 text-right text-purple-100 text-pretty"
    >
      Joshu (tries) to help you learn japanese. Making use of
      <a href="https://en.wikipedia.org/wiki/Mnemonic">mnemonics</a>, the
      objective is to allow you to more easily remember certain words you might
      struggle to remember. <br /><br />
      For example, <strong>何方</strong> would be equal to <i>'Donatello'</i>,
      like the sculptor (or the turtle, if you prefer). <br /><br />
      To start using Joshu, just sign up using the form to the left, or login if
      you are already signed up, and then add a few cards, at the top of the
      page. <br /><br />
      Happy learning. <strong>頑張って！</strong>
    </p>
  </div>
</div>
