<div class="flex justify-between w-[90%] h-full mx-auto mt-16">

  <div
    class="w-full px-8 border-l-2 border-solid about border-light-apricot-400"
  >
    <p
      class="text-8xl text-right text-purple-heart-300 font-[Quicksand] mb-20"
    >
      About Joshu:
    </p>
    <p
      class="text-xl font-medium leading-9 text-right text-purple-100 text-pretty"
    >
      Joshu (tries) to help you learn japanese. Making use of
      <a href="https://en.wikipedia.org/wiki/Mnemonic" class="decoration-purple-heart-300 text-purple-heart-300">mnemonics</a>, the
      objective is to allow you to more easily remember certain words you might
      struggle to remember. <br /><br />
      For example, <strong>何方</strong> (read: <i>'donata'</i>, meaning 'who') would be equal to <i>'Donatello'</i>,
      like the sculptor (or the turtle, if you prefer). <br /><br />
      To start using Joshu, just sign up, or login if
      you are already signed up, clicking the button on the header, and then add a few cards. <br /><br />
      Happy learning. <strong>頑張って！</strong>
    </p>
  </div>
</div>
